
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}
body {
  margin: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url('./Components/background.jpg');
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.recipe_card{
  width: 280px;
  height: 380px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 3px 3px rgb(82, 90, 96);
  border-radius: 11px;
  color: black;
}
.rcp_btn{
  height: 2rem;
  width: 6rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgb(253, 187, 45);
  color: white;
}
img{
  width: 15rem;
  height: 15rem;
  border-radius: 11px;
  margin-top: 1rem;
}
.meals{
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 44px;

}


.heading{
  color:rgb(255, 255, 255);
  text-align: left;
  margin-top: 0.8rem;
  margin-left: 1rem;
}
.navbar{
  display: flex;
  background: linear-gradient(90deg, rgb(253, 187, 45) 0%, rgb(58, 28, 113) 100%); 
  justify-content:space-between;
  position:sticky;
  top:0;
  border: none;
  border-radius: 10px;
}
#search_btn{
  border: 1px solid white;
  margin-top: 1.5rem;
  margin-right: 1rem;
  height: 2rem;
  width: 5rem;
  border-radius: 0.5rem;
}
#search_bar{
  height: 35%;
  width: 58%;
  border: 1px solid white;
  border-radius: 0.5rem;
  margin-right: 0.8rem;
}

.mealInfo {
  /* width: 90%; */
  height:max-content;
  margin:5%;
  padding: 2%;
  display: flex;
  /* gap: 22px; */
  justify-content:center ;
  align-items: center;
  background-color:rgba(161, 126, 165, 0.507) ;
  padding: 32px;
 }
 .mealdetail{
  background-color: rgb(43, 42, 42);
  border-radius: 0.5rem;
  color:white;
  display: flex;
  gap: 22px;
  justify-content:center ;
  align-items: center;
  padding: 32px;
 }
.mealInfo button{
  border: none;
  padding: 9px;
  border-radius: 6px;
  font-size: 19px;
  background-color: orangered;
  color: #fff;
 }
 .mealInfo img{
  width: 400px;
  height: 400px;
  border-radius: 11px;
 }
 #ingredients{
  list-style-type:none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  width:max-content;
  color: black;
  margin: auto;
  padding:2rem;
 }
#ingredients li{
  display: flex;
  justify-content:left;
  font-weight: 400;
  font-style: italic;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

 .mealInfo h3{
  font-size: 25px;
  font-weight: bold;
  color: #fff;
 }
 #text{
  font-size:100px;
  color:rgb(253, 187, 45);
  margin-top: 150px;
 }
